@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
}
body,
html {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/impact회의모습.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 35%;
}
body::-webkit-scrollbar {
  width: 6px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 25%; /* 스크롤바의 길이 */
  background: #55565e; /* 스크롤바의 색상 */
  
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);  /*스크롤바 뒷 배경 색상*/
}
.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 100px;
  padding: 4px 1px;
  margin: 0;
  animation:2s anim-lineUp ease-out;
  z-index: 10;
}
.nav li {
  float: left;
  position: relative;
  margin: 5px 30px;
  padding: 0;
}.more-btn{
  display: none;
}
.about a{
    color: #ffffff !important;
}
.nav li a {
  border-bottom: 2px solid transparent;
  display: block;
  font-size: 16px;
  padding: 6px 8px;
  margin: 0;
  color: #e1e2e6;
  font-weight: 600;
  margin: 0;
  text-decoration: none;
  letter-spacing: -6%;
}
.nav.activated{
  background-color:#323232;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  height: 10%;
  transition: 1s;
}

.nav span li:hover > a {
    color: white
}

@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  .text_1{
    margin-left: 180px;
    animation:4s anim-lineUp ease-out;
  }
  .text-1{
    color: white;
    font-size: 42px;
    font-weight: 500;
    letter-spacing: -4%;
  }
  .text-2{
    color: white;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: -4%;
    margin-top: 6px;
  }
  .text-4{
    color: white;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: -2%;
    margin-top: 60px;
  }
  #text_section {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
  }
  
  #footer_nav{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-top: 100px;
  }
  #footer_nav li{
    float: left;
    padding:8px;
  }
  
.about-part{
  background: linear-gradient(#f2f5f8 70%, #373737);
  padding-bottom: 300px;
}
.about-part-1{
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin-left: 200px;
  padding-top: 200px;
}
.about-part-1 h1{
  font-size: 30px;
  font-weight: 700;
  color: #373737;
  letter-spacing: -4%;
}
.about-part-1 h2{
  font-size: 16px;
  font-weight: 400;
  color: #D9D9D9;
  letter-spacing: -2%;
  margin-top: 20px;
}
.about-part-2{
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin-left: 200px;
  padding-top: 400px;
}
.about-part-2 h1{
  font-size: 30px;
  font-weight: 700;
  color: #373737;
  letter-spacing: -4%;
}
.about-part-2 h2{
  font-size: 16px;
  font-weight: 400;
  color: #D9D9D9;
  letter-spacing: -2%;
  margin-top: 20px;
}
.about-part-3{
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  margin-left: 200px;
  padding-top: 400px;
}
.about-part-3 h1{
  font-size: 30px;
  font-weight: 700;
  color: #373737;
  letter-spacing: -4%;
}
.about-part-3 h2{
  font-size: 16px;
  font-weight: 400;
  color: #D9D9D9;
  letter-spacing: -2%;
  margin-top: 20px;
}
@media screen and (max-width :680px){
  .more-btn{
    display: block;
    position: absolute;
    right: 20px;
    top: 52px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    z-index: 120;
  }
  .more-btn .icon{
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    background: url(/img/menu.png) no-repeat center;
    background-size: contain;
  }
  .more-btn.active .icon{
    background: url(/img/close.png) no-repeat center;
    background-size: contain;
  }
  .nav{
      position: fixed;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      background-color: rgba(14,25,38,0.9);
      width: 100%;
      height: 100vh;
      padding: 4px 1px;
      margin: 0;
      animation:2s anim-lineUp ease-out;
      opacity: 0;
      visibility: hidden;
      transform: translateX(100%);
  }
  .nav.active{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: 0.5s;
    z-index: 10;
  }
  .about-text{
    padding-top: 60px;
    padding-left: 0px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .about-text-1{
    display: flex;
    padding-top: 60px;
    padding-left: 0px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .about-text-2{
    display: flex;
    padding-top: 60px;
    padding-left: 0px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .project-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card{
    transition: 0.3s;
    position: relative;
    border-radius: 20px;
    width:320px;
    height: 160px;
    overflow: hidden;
    display: inline-block;
    margin : 32px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.2);
  }
  .text-wrap h1{
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-top: 8px;
  }
  .project-list-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .school-img{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 40px;
    margin-top: 0 ;
    padding-top: 80px;
    padding-bottom: 80px;
    width : 70%;
  }
  .text_1{
    margin-left: 30px;
  }
  .text-1{
    font-size: 34px;
  }
  .text-2{
    font-size: 34px;
  }
  .text-4{
    font-size: 16px;
  }
}