@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
}
body,
html {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/IMPACT-website/img/임팩트초기멤버.png);
  background-size: cover;
  background-repeat: no-repeat;
}
#nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 100px;
  padding: 4px 1px;
  margin: 0;
  animation:2s anim-lineUp ease-out;
}
#nav li {
  float: left;
  position: relative;
  margin: 5px 30px;
  padding: 0;
}

#nav li a {
  border-bottom: 2px solid transparent;
  display: block;
  font-size: 18px;
  padding: 7px 8px;
  margin: 0;
  color: white;
  font-weight: 700;
  margin: 0;
  text-decoration: none;
  letter-spacing: -6%;
}
.member{
    border-bottom: 2px solid white;
}
#nav span li:hover > a {
    color: #c0c0c0;
}
@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(30%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  .text_1{
    margin-left: 180px;
    animation:4s anim-lineUp ease-out;
  }
  .text-1{
    color: white;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: -4%;
  }
  .text-2{
    color: white;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: -2%;
    margin-top: 60px;
  }
  .text-3{
    color: white;
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -2%;
  }
  .text-4{
    color: white;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: -2%;
    margin-top: 60px;
  }
  #text_section {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 97%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
  }
  .card{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  .card-box{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    display: inline-block;
    margin: 26px;
    width: 100%;
    max-width: 251.5px;
    height: 335.69px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.26);
    transition: 0.5s;
    margin-top: 100px;
  }
  .card-box:hover{
    transform: scale(1.05);
  }
  .card-box img{
    width: 100%;
  }
  .img-gradient{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.6));
    z-index: 1;
  
  }
  .text-wrap{
    position:absolute;
    bottom:0;
    padding:24px;
    z-index: 2;
  }
  .text-wrap h1{
    color: white;
    font-size: 24px;
  }
  .text-wrap p{
    color: #7f7f7f;
    font-size: 16px;
  }