@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
}
body,
html {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/impact-lounge단체사진.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
body::-webkit-scrollbar {
  width: 6px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 25%; /* 스크롤바의 길이 */
  background: #55565e; /* 스크롤바의 색상 */
  
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);  /*스크롤바 뒷 배경 색상*/
}
.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 100px;
  padding: 4px 1px;
  margin: 0;
  animation:2s anim-lineUp ease-out;
  z-index: 15;
}
.more-btn{
  display: none;
}
.insta-m{
  display: none;
}
.nav li {
  float: left;
  position: relative;
  margin: 5px 30px;
  padding: 0;
}

.nav li a {
  border-bottom: 2px solid transparent;
  display: block;
  font-size: 16px;
  padding: 6px 8px;
  margin: 0;
  color: #e1e2e6;
  font-weight: 600;
  margin: 0;
  text-decoration: none;
  letter-spacing: -6%;
}
.nav span li:hover > a {
  color: white
}
.nav.activated{
  background-color:#323232;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  height: 10%;
  transition: 1s;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation:4s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
.container_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container_main h1 {
  font-size: 1.0rem;
  margin-bottom: 80px;
  letter-spacing: -6%;
  font-weight: 700;
  color: white;
}
.container_main img {
 position: absolute;
 width: 260px;
}
.container_2{
    background-color: #323232;
}
.container_2_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.container_2_text h1 {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -2%;
  margin-top: 30px;
}
.container_2_text h2 {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -2%;
  margin-top: 10px;
  margin-bottom: 30px;
}
.navtoogleBtn{
  display: none;
  position: absolute;
  right: 32px;
  top: 55px;
  font-size: 24px;
}
#main_section {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 97%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .number_text{
    background-color: #f2f5f8;
  }
  .number_text h1{
    padding-top: 200px;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: -6%;
  }
  .number {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f2f5f8;
  }
  .number_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 380px;
    height: 268px;
    background-color: white;
    border-radius: 20px;
    margin: 26px;
  }
  .number_1 h1{
    font-size: 3rem;
  }
  .number-1{
    display: flex;
  }
  .number_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 380px;
    height: 268px;
    background-color: white;
    border-radius: 20px;
    margin: 26px;
  }
  .number_2 h1{
    font-size: 3rem;
  }
  .number-2{
    display: flex;
  }
  .number_3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 380px;
    height: 268px;
    background-color: white;
    border-radius: 20px;
    margin: 26px;
  }
  .number_3 h1{
    font-size: 3rem;
  }
  .number-3{
    display: flex;
  }
  .about_text{
    background-color: #f2f5f8;
  }
  .about_text h1{
    padding-top: 300px;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: -6%;
  }
  .about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f2f5f8;
  }
  .about_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 490px;
    height: 280px;
    background-color: white;
    border-radius: 20px;
    margin: 26px;
  }

  .button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    background-color: #f2f5f8;
  }
  .about_button:hover{
    background-color:#323232;
    color: white;
    transition: 1s;
  }
  .about_button{
    width: 176px;
    height: 65px;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 16px ;
    font-weight: 600;
    background-color: #D9D9D9;
  }
  .insta_button:hover{
    background-color:#323232;
    color: white;
    transition: 1s;
  }
  .insta_button{
    margin-top: 30px;
    width: 176px;
    height: 65px;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 16px ;
    font-weight: 600;
    background-color: #D9D9D9;
  }
  .insta_text{
    background-color: #f2f5f8;
  }
  .insta_text h1{
    padding-top: 300px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -6%;
  }
  .insta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f2f5f8;
  }
  .insta_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 380px;
    height: 510px;
    background-color: white;
    border-radius: 20px;
    margin: 26px;
  }
  .insta_1 h1{
    font-size: 40px;
  }
  .insta_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 380px;
    height: 510px;
    background-color: white;
    border-radius: 20px;
    margin: 26px;
  }
  .insta_2 h1{
    font-size: 40px;
  }
  .insta_3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 380px;
    height: 510px;
    background-color: white;
    border-radius: 20px;
    margin: 26px;
  }
  .insta_3 h1{
    font-size: 40px;
  }
  .hello{
    background: linear-gradient(#f2f5f8, #373737);
  }
  .int_text{
    text-align: center;
  }
  .int_text_1{
    padding-top: 300px;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -6%;
    color: white;
  }
  .int_text_2{
    margin-top: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -6%;
    color: white;
  }
  .int_text_3{
    padding-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -6%;
    color: white;
  }
  .button_3:hover{
    background-color:#323232;
    color: white;
    transition: 1s;
  }
  .button_4:hover{
    background-color:#323232;
    color: white;
    transition: 1s;
    border-color: rgba(0, 0, 0, 0);
  }
  .button_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
  .button_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 200px;
  }
  .button_3{
    width: 325px;
    height: 50px;
    border: none;
    padding: 15px 30px;
    border-radius: 12px;
    font-weight: 600;
    background-color:rgba(255,255,255, 0.2);
    color: white;
    font-size: 16px;
  }
  .button_4{
    width: 325px;
    height: 50px;
    padding: 15px 30px;
    border-radius: 12px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0);
    border-color: #ffffff;
    color: white;
    font-size: 16px;
  }
  .insta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .card{
    transition: 0.3s;
    position: relative;
    border-radius: 20px;
    width:380px;
    height: 490px;
    overflow: hidden;
    display: inline-block;
    margin:10px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.2);
  }
  .card_img{
    transform: scale(1);
    transition: 1s;
  }
  .card_img:hover{
    transform: scale(1.05);
  }
  .text-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: absolute;
    bottom:0;
    z-index: 10;
    text-align: left;
    color: black;
    background-color: white;
    width: 380px;
    height: 110px;
  }
  .text-wrap p{
    letter-spacing: -4%;
    font-weight: 500;
    color:black;
    line-height: 1.5;
  }
  .count-num{
    display: inline;
    font-size: 3rem;
    font-weight: 700;
  }
  #footer_nav{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-top: 300px;
  }
  #footer_nav li{
    float: left;
    padding:8px;
  }

  .slide{
    background-color: #f2f5f8;
  }
  .video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
padding: 50px;
  }

  @media screen and (max-width :680px){
    .more-btn{
      display: block;
      position: absolute;
      right: 20px;
      top: 52px;
      width: 40px;
      height: 40px;
      border-radius: 8px;
      border: none;
      background-color: transparent;
      z-index: 120;
    }
    .more-btn .icon{
      display: block;
      width: 24px;
      height: 24px;
      margin: 0 auto;
      background: url(/IMPACT-website/img/menu.png) no-repeat center;
      background-size: contain;
    }
    .more-btn.active .icon{
      background: url(/IMPACT-website/img/close.png) no-repeat center;
      background-size: contain;
    }
    .nav{
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        background-color: rgba(14,25,38,0.9);
        width: 100%;
        height: 100vh;
        padding: 4px 1px;
        margin: 0;
        animation:2s anim-lineUp ease-out;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
    }
    .nav.active{
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
      transition: 0.5s;
    }
    .container_2_text h1{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
       font-size: 20px;
       padding: 16px;
    }
    .container_2_text h2{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
       font-size: 16px;
       padding-left: 60px;
       padding-right: 60px;
       padding-bottom: 10px;
   }
   .container_main h1{
    font-size: 14px;
   }
   .container_main img{
    width: 280px;
   }
   .number_text h1{
    font-size: 32px;
   }
   .number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f5f8;
  }
  .number_1{
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
  }
  .number_2{
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
  }
  .number_3{
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
  }
  .about_text h1{
    font-size: 32px;
   }
   .about_button{
    width: 140px;
    height: 50px;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 16px ;
    font-weight: 600;
    background-color: #D9D9D9;
  }
  .insta {
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: #f2f5f8;
  }
  .card{
    transition: 0.3s;
    position: relative;
    border-radius: 20px;
    width:300px;
    height: 340px;
    overflow: hidden;
    display: inline-block;
    margin:10px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.2);
  }
  .text-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: absolute;
    bottom:0;
    z-index: 10;
    text-align: left;
    color: black;
    background-color: white;
    width: 300px;
    height: 60px;
  }
  .insta_button{
    margin-top: 30px;
    width: 190px;
    height: 50px;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 16px ;
    font-weight: 600;
    background-color: #D9D9D9;
  }
  .insta_text h1{
    font-size: 36px;
  }
  .int_text_1{
    font-size: 40px;
  }
  .int_text_2{
    font-size: 40px;
  }
  .int_text_3{
    font-size: 40px;
  }
  .insta-m{
    display: flex;
    justify-content: center;
    background-color: #f2f5f8;
  }

  }